body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

/*input[type="checkbox"].input-validation-error {
    border: 0 none;
}*/

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */
body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.user_form h2, .user_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .email_remote, .required_notification {font-size: 11px;}

/* === List Styles === */
.user_form ul {   
    width: 45em;
    list-style-type: none;
    list-style-position: outside;
    margin: 25px;
    padding: 0px;
}
.user_form li{
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
} 
.user_form li:first-child, .user_form li:last-child {
	border-bottom:1px solid #777;
}

/* === Form Header === */
.user_form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

/* === Form Elements === */
.user_form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.user_form input:not(#uploader):not(.button_yellow) {
	height:30px; 
	width:220px; 
	padding:5px 8px;
}
.user_form textarea {padding:8px; width:300px;}
.user_form button {margin-left:156px;}

	/* form element visual styles */
	.user_form input:not(.button_yellow), .user_form textarea { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}
	.user_form input:focus, .user_form textarea:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}

/* === HTML5 validation styles === */	
.user_form input:required, .user_form textarea:required {
	background: #fff url(/Content/images/red_asterisk.png) no-repeat 98% center;
}
.user_form input:required:valid,.user_form input:required:not(#uploader):valid, .user_form textarea:required:valid {
	background: #fff url(/Content/images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.user_form input:required:focus:invalid, .user_form textarea:focus:invalid {
	background: #fff url(/Content/images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.form_hint, .email_remote {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before , .email_remote::before{
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.user_form input:focus + .form_hint, .user_form input:focus + .email_remote {display: inline-block;}
.user_form input:required:valid + .form_hint,.user_form input:required:valid + .email_remote {background: #28921f;}
.user_form input:required:valid + .form_hint::before,.user_form input:required:valid + .email_remote::before {color:#28921f;}
	
/* === Button Style === */
a.button {
    background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
    -ms-text-shadow: 0 -1px 0 #396715;
    text-shadow: 0 -1px 0 #396715;
}

a.button,a.btn,.button_yellow,.button_red{
    margin: 10px;
    }

a.button:hover,.button_yellow:hover,.button_red:hover {
    -ms-opacity:.85;
    opacity:.85;
	cursor: pointer;
    -webkit-text-decoration-style: -moz-none;
    -moz-text-decoration-style: -moz-none;
    -ms-text-decoration-style: -moz-none;
    -o-text-decoration-style: -moz-none;
    text-decoration-style: -moz-none;
}

a.button:active {
    border: 1px solid #20911e;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
    box-shadow: 0 0 10px 5px #356b0b inset;
}

.modal-content:not(#userlist) {
    width: 50em;
    position: absolute;
    left: 30%;
    top: 10%;
}
#userlist {
    width: 100em;
    position: absolute;
    left: 15%;
    top: 10%;
    padding: 10px;
}
/* Some basic styling to notify users
   about the tooltips*/
   .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #F3D2D2;
}
.avaupdated {
    background: #fff url(/Content/images/valid.png) no-repeat 98% center;
    -webkit-box-shadow: 0 0 5px #5cd053;
    -ms-box-shadow: 0 0 5px #5cd053;
    box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.button_yellow {
    
    background-color: #fac644;
	background: -webkit-gradient(linear, left top, left bottom, from(#fac644), to(#e8a723));
	background: -webkit-linear-gradient(top, #fac644, #e8a723);
	background: -moz-linear-gradient(top, #fac644, #e8a723);
	background: -ms-linear-gradient(top, #fac644, #e8a723);
	background: -o-linear-gradient(top, #fac644, #e8a723);
	background: linear-gradient(top, #fac644, #e8a723);
	border: 1px solid #a67c1d;
	border-bottom: 1px solid #997c2b;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 0 #d5d074 inset ;
	-moz-box-shadow: 0 1px 0 0 #d5d074 inset;
	-ms-box-shadow: 0 1px 0 0 #d5d074 inset;
	-o-box-shadow: 0 1px 0 0 #d5d074 inset;
    box-shadow: inset 0 1px 0 0 #d5d074;
    color: rgb(246, 67, 67);
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
    -ms-text-shadow: 0 -1px 0 #675915;
    text-shadow: 0 -1px 0 #675915;
}

.button_yellow:active {
    border: 1px solid #f4ca2f;
    -webkit-box-shadow:0 0 10px 5px #f4ca2f inset ;
	-moz-box-shadow: 0 0 10px 5px #f4ca2f inset;
	-ms-box-shadow: 0 0 10px 5px #f4ca2f inset;
	-o-box-shadow: 0 0 10px 5px #f4ca2f inset;
    box-shadow: 0 0 10px 5px #f4ca2f inset;
}
.form-group img {
    margin: 10px !important;
}

.button_red{
    
    background-color: #fa4451;
	background: -webkit-gradient(linear, left top, left bottom, from(#fa4451), to(#e82331));
	background: -webkit-linear-gradient(top, #fa4451, #e82331);
	background: -moz-linear-gradient(top, #fa4451, #e82331);
	background: -ms-linear-gradient(top, #fa4451, #e82331);
	background: -o-linear-gradient(top, #fa4451, #e82331);
	background: linear-gradient(top, #fa4451, #e82331);
	border: 1px solid #a61d2a;
	border-bottom: 1px solid #992b33;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 0 #d57478 inset ;
	-moz-box-shadow: 0 1px 0 0 #d57478 inset;
	-ms-box-shadow: 0 1px 0 0 #d57478 inset;
	-o-box-shadow: 0 1px 0 0 #d57478 inset;
    box-shadow: inset 0 1px 0 0 #d57478;
    color: rgb(98, 10, 10);
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
    -ms-text-shadow: 0 -1px 0 #67151d;
    text-shadow: 0 -1px 0 #67151d;
}

.button_red:active {
    border: 1px solid #f42f3d;
    -webkit-box-shadow:0 0 10px 5px #f42f3d inset ;
	-moz-box-shadow: 0 0 10px 5px #f42f3d inset;
	-ms-box-shadow: 0 0 10px 5px #f42f3d inset;
	-o-box-shadow: 0 0 10px 5px #f42f3d inset;
    box-shadow: 0 0 10px 5px #f42f3d inset;
}
#updone{
    color: #5CD053 !important;
    padding: 30px !important;
    font-size: 18px !important;
    font-weight: bold !important;
}
.email_remote remote_valid {
    
}
.email_remote remote_novalid {
    
}